<!-- <ng-template [ngIf]="blueClass">
  <p>Button is blue</p>
</ng-template> -->
<p *ngIf="blueClass">Button is blue</p>

<button
  (click)="blueClass = !blueClass"
  [ngClass]="{
    blue: blueClass
  }"
  [ngStyle]="{ 'font-size.px': fontSize }"
>
  Change
</button>

<hr />

<input (keyup)="changeImage($event)" [value]="imgUrl" />
<div style="display: flex">
  <app-post
    *ngFor="let image of images; let i = index"
    [img]="image"
    (imageSelected)="logImage($event)"
  >
    <p>{{ i }} Some Caption</p>
  </app-post>
</div>

<p>Hello {{ name | titlecase }} !</p>
<p>Hello {{ getName() }} !</p>
<p>{{ 15 + 13 }}</p>
<p>{{ currentDate | date : "d/MM/YYYY" }}</p>
<p>{{ cost | currency : "INR" }}</p>
<p>{{ temp | number : "1.2-5" }}</p>
<pre>{{ pizza | json }}</pre>
